# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs
*.log

# If you add tooling later
node_modules/
dist/
build/

# Env files (if you add them)
.env
.env.*

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
